<!doctype html>
<html lang="fr">
<head>
    <title>Mes Copains !</title>
    <meta charset="UTF-8">
    <style>
        .active { display: block; }
        .inactive { display: none; }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
<!--&lt;!&ndash;    <script type="text/javascript" src="js/ajax.js"></script>&ndash;&gt;-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
<h1>Mes Copains (en AJAX) !</h1>
<div id="errMsg"></div>
<aside>
    <h2 id="menu">Menu</h2>
    <div id= "listmenu" class='inactive'>
    <ul>
        <li><a href='#index'>Accueil</a></li>
        <li><a href='#groupes'>Groupes</a></li>
        <li><a href='#groupe'>Groupe</a></li>
        <li><a href='#billet'>Billet</a></li>
        <li><a href='#users'>Utilisateurs</a></li>
        <li><a href='#deco'>Déconnexion</a></li>
    </ul>
    </div>
</aside>
<section id='index' class='active'>
    <h2>Bienvenue sur Mes Copains</h2>
    <form method="post">
        <p>Entrez votre pseudo :
            <input type="text" name="pseudo" id="pseudo">
            <input type="submit" id ="connexion" value="Connexion">
        </p>
    </form>
</section>
<section id='groupes' class='inactive'>
    <h2>Liste des groupes</h2>
    <div id="targetgroupes">
        Loading...
    </div>
    <script id="tplgroupes" type="text/mustache">
        <ul>
            {{#.}}
            <li>
            {{.}}
            </li>
            {{/.}}
        </ul>
    </script>
    <!-- Pour chaque élément de la liste, l'interface doit proposer à l'utilisateur de :
        - s'inscrire au groupe
        - se désinscrire du groupe
        - accéder au groupe
        - supprimer le groupe
        Les résultats de l'opération invoquée par le client seront affichés dans le div "errMsg" -->
    <ul id='groupesList'></ul>
    <form method="post">
        <p>Créer un nouveau groupe :
            <input type="text" name="groupe" id="nomGroupe">
            <input type="submit" id="nouveauGroupe" value="Créer">
        </p>
    </form>
    <p><a href='#deco'>Déconnexion</a></p>
</section>
<section id='groupe' class='inactive'>
    <div id="targetgroupe">
        Loading...
    </div>
    <script id="tplgroupe" type="text/mustache">

        <h2>Groupe {{nom}} </h2>
        <b>Créateur : </b> {{auteur}}
        <br>
        <b>Description : </b> {{description}}
         <br>
        <b>Membres : </b>
         <ul>
            {{#membres}}
            <li>{{.}}</li>
            {{/membres}}
        </ul>
        <b>Liste des Billets: </b>
        <ul>
            {{#billets}}
            <li>{{.}}</li>
            {{/billets}}
        </ul>
    </script>
    <!-- Pour chaque élément de la liste, l'interface doit proposer à l'utilisateur de :
        - visualiser le billet
        - modifier le titre du billet (aide : attribut contenteditable)
        - supprimer le billet
    -->
    <ul id='bltList'></ul>
    <hr>
    <form method='post' >
        <p>Créer un nouveau billet :
            <input type='text' name='titre' id="titre">
            <textarea name="contenu" id="contenu"></textarea>
            <input type='submit' id ="addBillet"value='Envoyer'>
        </p>
    </form>
    <p><a href='#groupes'>Liste des groupes</a></p>
</section>
<section id='billet' class='inactive'>
    <div id="targetbillet">
        Loading...
    </div>
    <script id="tplbillet" type="text/mustache">
     <h1>Bilet : {{titre}}</h1>
        <p>Ceci est un bllet de {{auteur}}</p>
        <div class="contenu">{{contenu}}</div>
        <h2>Commentaires</h2>
        <ul>
            {{#commentaires}}
            <li>{{auteur}} : {{texte}}</li>
            {{/commentaires}}
        </ul>
    </script>
    <!-- Pour chaque élément de la liste, l'interface doit proposer à l'utilisateur de :
        - modifier le commentaire
        - supprimer le commentaire
    -->
    <ul id='commentList'></ul>
    <form method="post">
        <p>Ajouter un commentaire :
            <input type="text" name="commentaire" id="commentaire">
            <input type="submit" value="Envoyer" id="addComment">
        </p>
    </form>
    <p><a href="#groupe">Retour au groupe</a></p>
    <p><a href="#deco">Se déconnecter</a></p>
</section>
<section id='users' class='inactive'>
    <h2>Liste des utilisateurs</h2>
    <div id="targetusers">
        Loading...
    </div>
    <script id="tplusers" type="text/mustache">
        <ul>
            {{#.}}
            <li>
            {{.}}
            </li>
            {{/.}}
        </ul>
    </script>
    <p><a href='#deco'>Déconnexion</a></p>
</section>
<section id='deco' class='inactive'>
    <h2>Déconnexion</h2>
    <form method="post">
        <p>Validez ce formulaire pour vous déconnecter :
            <input type="checkbox" name="user" > Supprimer l'utilisateur
            <input type="submit" value="Deconnexion" id="Deconnexion">
        </p>
    </form>
    <p><a href='#index'>Retour à la page d'accueil</a></p>
    <script type="text/javascript" src="routage.js"></script>
    <script type="text/javascript" src="app.js"></script>
</section>
</body>
</html>